* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: solid 1px green;  
}

.column {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 50px;
  height: 50px;
  border: solid 1px white;  
}

.blank {
  background-color: black;
}
.snake {
  background-color: green;
}
.food {
  background-color: yellow;
}